@import "tailwindcss";

#login-section {
  padding: 40px 80px;
}

form {
  width: 300px;
}

input {
  border: 1px solid #bbbbbb;
  margin-bottom: 10px;
  height: 35px;
  border-radius: 7px;
  padding: 0 7px;
}

#login-section h1 {
  font-size: 45px;
}

button {
  margin: 15px 0;
  background-color: #7a37fd;
  padding: 10px 50px;
  border-radius: 7px;
  color: #fff;
  transition: all 0.3s;
}

input:focus {
  outline: none;
}

#dashboard h2 {
  font-size: 30px;
}

#settings-panel ul li {
  margin-bottom: 14px;
}

#new-item-form input {
  width: 400px;
}

#items-list {
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  max-width: 80%;
  padding: 20px;
}

.item-details-btn button {
  color: black;
  font-size: 25px;
  width: 40px;
  height: 35px;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

#selected-item {
  background-color: #fff;
  width: 500px;
  top: 0;
  right: 0;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 40px;
}

#selected-item-form {
  width: 100%;
}

#selected-item-form input {
  margin-bottom: 10px;
}

.close-btn {
  color: #000;
  top: -2%;
  left: -5%;
  background-color: transparent;
}

.btn-hover:hover {
  background-color: #915ff3;
}

#selected-item section {
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 10px;
}

#selected-item section h2 {
  margin: 0;
}
