@import "tailwindcss";

.rubik-head-medium {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.rubik-head-light {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

hr {
  border: none;
  border-top: 1px solid #f0f0f0;
  margin: 20px 0;
  width: 250px;
}

#login-section {
  padding: 40px 80px;
}

form {
  width: 300px;
}

input {
  border: 1px solid #bbbbbb;
  margin-bottom: 10px;
  height: 35px;
  border-radius: 7px;
  padding: 0 7px;
}

#login-section h1 {
  font-size: 45px;
  line-height: 50px;
}

button {
  margin: 15px 0;
  background-color: #7a37fd;
  padding: 10px 50px;
  border-radius: 7px;
  color: #fff;
  transition: all 0.3s;
}

input:focus {
  outline: none;
}

#dashboard h2 {
  font-size: 27px;
}

#settings-panel ul li {
  font-size: 17px;
  margin-bottom: 14px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

#settings-panel ul li svg {
  margin-right: 10px;
}

#settings-panel ul li a:hover {
  text-decoration: underline;
}

#settings-panel h1 {
  font-size: 25px;
}

#new-item-form input {
  width: 400px;
}

#items-list {
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  max-width: 80%;
  padding: 20px;
}

.item-details-btn button {
  color: black;
  font-size: 25px;
  width: 40px;
  height: 35px;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

#selected-item {
  background-color: #fff;
  width: 500px;
  top: 0;
  right: 0;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 40px;
}

#selected-item-form {
  width: 100%;
}

#selected-item-form input {
  margin-bottom: 10px;
}

.close-btn {
  color: #000;
  top: -2%;
  left: -5%;
  background-color: transparent;
}

.btn-hover:hover {
  background-color: #915ff3;
}

#edit-selected-item {
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  padding: 10px;
}

#selected-item section h2 {
  margin: 0;
}

#delete-item-btn {
  background-color: #ff4d4d;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

#delete-item-btn:hover {
  background-color: #e60000;
}

.show-password-btn {
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  top: 37%;
  right: 16px;
  transform: translateY(-50%);
}
