@import "tailwindcss";

#login-section {
  padding: 40px 80px;
}

form {
  width: 300px;
  margin-top: 50px;
}

input {
  border: 1px solid #bbbbbb;
  margin-bottom: 10px;
  height: 35px;
  border-radius: 7px;
  padding: 0 7px;
}

#login-section h1 {
  font-size: 45px;
}

button {
  margin: 15px 0;
  background-color: #7a37fd;
  padding: 10px 50px;
  border-radius: 7px;
  color: #fff;
}

input:focus {
  outline: none;
}
